*
!bin/awslocal
!docker/entrypoint.sh
!docker/localstack-parity.sh
!pom.xml
!src/**
!vendor/maven/**
!target/*.so
!target/*.properties
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*
!native/**
